@tailwind base;
@tailwind components;
@tailwind utilities;

  
.text-color-1 {
    color: #e74c3c; 
}

.text-color-2 {
    color: #3498db;
}

.text-color-3 {
    color: #2ecc71; 
}

.text-color-4{
    color: #f39c12;
}

.text-color-5{
    color: #9b59b6;
}

.emoji-mart {
    width: 500px !important;
  }
  
.arrow-left {
    position: relative;
    background: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.arrow-left:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    border-width: 0 10px 10px 0;
    border-color: transparent #FFFFFF transparent transparent;
}

.profile-img {
    width: 36px;
    height: 36px;
    background-size: cover;
}

.profile-img-user {
    width: 35px;
    height: 35px;
    background-size: cover;
}

.profile-img-contacts {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.profile-img-modal {
    width: 140px;
    height: 140px;
    background-size: cover;
}

.animate__animated.animate__fadeIn {
    --animate-duration: .5s;
  }

  .img-logo{
    width: 300px;
    height: 100px;
  }
  
  