@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color-2 {
    color: #00FF00;
}

.text-color-3 {
    color: #FFFF00; 
}
  
.text-color-1 {
    color: FFFFFF; 
}

.profile-img {
    width: 36px;
    height: 36px;
    background-size: cover;
}

.profile-img-user {
    width: 35px;
    height: 35px;
    background-size: cover;
}

.profile-img-contacts {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.profile-img-modal {
    width: 140px;
    height: 140px;
    background-size: cover;
}

.animate__animated.animate__fadeIn {
    --animate-duration: .5s;
  }

  .img-logo{
    width: 300px;
    height: 100px;
  }
  
  